<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon: <%= apiPokemon.apiname.charAt(0).toUpperCase() + apiPokemon.apiname.slice(1) %></title>
    <link rel="stylesheet" href="/css/show.css" />
</head>
<body>
    <nav>
        <a href="/pokemon">Pokemon List</a>
    </nav>

    <main>
        <h1><%= apiPokemon.apiname.charAt(0).toUpperCase() + apiPokemon.apiname.slice(1) %></h1>

        <img src="<%= apiPokemon.apiimage %>" />

        <ul>
            <li>Ability: <%= apiPokemon.apiability.charAt(0).toUpperCase() + apiPokemon.apiability.slice(1) %></li>
            <li>Type: <%= apiPokemon.apitype.charAt(0).toUpperCase() + apiPokemon.apitype.slice(1) %></li>
            <li>Special Move: <%= apiPokemon.apimove.charAt(0).toUpperCase() + apiPokemon.apimove.slice(1) %></li>
        </ul>
    </main>
    
    <form action="/pokemon/api/<%= apiPokemon._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>

</body>
</html>