<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon: <%= pokemon.name %></title>
</head>
<body>
    <nav>
        <a href="/">Home Page</a>
        <a href="/pokemon">Pokemon Box</a>
    </nav>

    <h1><%= pokemon.name %></h1>
    <ul>
        <li>Strength: <%= pokemon.strength %></li>
        <li>Type: <%= pokemon.type %></li>
        <li>Ability: <%= pokemon.ability %></li>
        <li>Special Move: <%= pokemon.move %></li>
        <li>Pokeball: <%= pokemon.pokeball %></li>
        <li>Evolution: <%= pokemon.evolution === true ? "No" : "Yes" %></li>
    </ul>
    <form action="/pokemon/<%= pokemon._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>